a.button {
    padding: 5px 25px;
    color: white
}

body {
    color: #eee;
    background: #121212;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    width: 500px;
    border: 3px solid #aaa;
    border-radius: 6px;
}

.button-link {
    text-align:center;
    width: 500px;
    height: auto;
}

.button-link-container {
    display: inline-block;
}

.link {
    color: blue
}

table {
    table-layout: fixed;
} 

th {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
}