<head>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"> -->
    <link rel="stylesheet" href="style.css"> 
</head>

<body>
    <div class="navbar-menu">
        <table>
            <tr>
                <th>
                    <a href="/index.html" class="button">Home</a>
                </th>
                <th>
                    <a href="/friends.html" class="button">Friends</a>
                </th>
            </tr>
        </table>
    </div>
</body>